@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* General Styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main CSS */

body {
    background-color: #fff;
    color: #111;
    scroll-behavior: auto;
    font-family: 'Roboto';
}

header {
    
    width: 100vw;
}

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: -10;
}

.synopsis {
    font-size: larger;
    font-weight: 600;
}

.category-card {
    width: 18rem;
    height: 18rem;
    text-align: center;
}

.category-img {
    width: 16rem;
    height: 12rem;
}

.category-body {
    width: 16rem;
    height: 4rem;
}

.info-view {
    position: relative;
}

.info-card {
    width: 40vw;
    height: 40vh;    
}

.splash-card {
width: 15rem;

}

main.container-fluid {
    padding:0%;
}

.info-row {
    background-color: aliceblue;
}

.card-body {
    background-color: #f0f8ff;
}

.recipe-view {
    position: relative;
}

.recipe-card {
    width: 80vw;
    height: 70vh;
    
}

.recipe-card-body {
    width: 80vw;
    height: 62vh;
    overflow: auto;
    font-size: 14px;
}

.recipe-card-img {
    height: 5rem;
    width: 5rem;
}

.recipe-card-header {
    font-size: 1rem;
}

.recipe-card-footer {
    padding-left: 0;
    padding-right: 0;
}

.flashes {
    line-height: 2;
}

.add-recipe {
   font-size: small;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    background-color: red;
    color: white;
    text-align: center;
}

.small {
    font-weight: 100;
    font-style: 4px;
}

@media screen and (max-width: 450px) {
    .card,
    .splash-card {
        width: 100vw;
        height: 100vh;
    }
    
.recipe-card-body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
}

.recipe-card-img {
    height: 40vw;
    width: 60vw;
}

.recipe-card-header {
    text-align: center;
}

.register-view {
    padding: 0;
}

.register-form {
    padding: 1px;
}
.register-card {
    width: 95vw;
    height: 40vh;
    padding: 2px;
}

.register-footer {
    padding: 1px;
    margin-top: 5px;
    width: 85vw;
}
}