{% extends "base.html" %}
{% block content %}
<section class="info-view">
    <h3 class="text-center">SimplyFood</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 offset-md-5">
                <div class="info-card card">
                    <div class="info-card-body card-body">
                        <div class="info-card-header card-header">
                                    <p>Here at SimplyFood</p>
                                    <p>We are dedicated to bringing you</p>
                                    <p>Quick, tasty, simple meals</p>              
                        <div class="info-card-footer card-footer text-center">
                        <button type="submit" class="btn btn-primary">Recipes</button>
                        <button type="submit" class="btn btn-primary">
                            Login <i class="fas fa-sign-in-alt"></i>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}