{% extends "base.html" %}
{% block content %}

<section class="info-view">
    <div class="container p-0">
        <div class="row m-0">
            <div class="info-row">
                <h3 class="text-center">SimplyFood</h3>
                <p class="synopsis text-center">Here at SimplyFood We are dedicated to bringing you
                    quick, tasty, simple meals (5 ingredients or less)
                </p>
            </div>
            <div class="row gap-5 splash-view">
                <div class="card category-card mt-2 p-1 gap-2">
                    <a href="{{ url_for('breakfast') }}"><img src="static/images/flapjack.png" class=" category-img"
                            alt="..."> </a>
                    <div class="card-body category-body">
                        <h5 class="card-title">Breakfast</h5>
                        <p>Enjoy a comforting easy breakfast solution</p>
                    </div>
                </div>
                <div class="card category-card p-1 mt-2 gap-2">
                    <a href="{{ url_for('lunch') }}"><img src="/static/images/cacio-e-Pepe.png"
                            class="card-img-top category-img" alt="..."> </a>
                    <div class="card-body category-body">
                        <h5 class="card-title">Lunch</h5>
                        <p>Simple to make, perfect speedy lunches</p>
                    </div>
                </div>

                <div class="card category-card p-1 mt-2 gap-2">
                    <a href="{{ url_for('dinner') }}"><img src="static/images/smoked-mackerel-leek-hash-with-horseradish.png"
                            class="card-img-top category-img" alt="..."> </a>
                    <div class="card-body category-body">

                        <h5 class="card-title">Dinner</h5>
                        <p>These quick fix recipes are ideal for midweek meals</p>
                    </div>
                </div>
</section>
<div class="text-center">
    <a class="btn btn-md btn-primary" href="{{ url_for('recipe_list') }}">All Recipes</a>
</div>

{% endblock %}