{% extends "base.html" %}
{% block content %}

<section class="profile-view">
    <h3 class="text-center">Profile</h3>
    <div class="container-fluid profile-card">
        <div class="row">
            <div class="profile-card card">
                <div class="card-body">
                    <div class="col-6 offset-md-3">
                        <h3 class="text-center">
                            {{ username }}'s Profile
                        </h3>
                    </div>
                </div>
            </div>
</section>
{% endblock %}