{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Recipes</h3>
<div class="row">
    <div class="col-12">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <button><i class="fas fa-search"></i></button>
            </span>
          </div>
    </button>
  </div>
    </div>
</div>

{% for recipes in recipes %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="recipe_name">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{ recipes.recipe_name }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="Recipe Name"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="input-group mb-3">
                    <a href="{{ url_for ('single_recipe', recipes_id=recipes._id) }}">
                        {{ recipes.recipe_description }}</a>
                </div>
                {% if session.user|lower == recipes.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipes_id=recipes._id) }}" class="btn btn-warning">Delete</a>
                <a href="{{ url_for('edit_recipe', recipes_id=recipes._id) }}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}