{% extends "base.html" %}
{% block content %}
<section class="recipe-view">
    {% for recipes in recipes %}

    <h3 class="text-center"> Recipes</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 offset-md-1">
                <div class="recipe-card card">
                    <div class="recipe-card-body card-body">
                        <div class="recipe-card-header card-header">
                            <h5><img class="recipe-card-img card-img" src="static/images/mackeral-hash.jpg"
                                    class="card-img-top" alt="#">
                                {{recipes.recipe_name}}
                            </h5>
                            <p><em>by: {{ recipes.created_by }}</em></p>
                            {% if recipes.recipe_liked == "on" %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                              </div>
                            {% endif %}
                            <p> {{recipes.recipe_category}}</p>
                            <p>{{recipes.recipe_serving}}</p>
                            <p>{{recipes.recipe_time}}</p>
                            <li class="list-group-item">{{recipes.recipe_ingredients1}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients2}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients3}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients4}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients5}}</li>

                            <div class="recipe-card-footer card-footer">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{recipes.recipe_method}}</li>

                                </ul>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-secondary">Previous</button>
            <button type="button" class="btn btn-secondary">Next</button>
        </div>
</section>
{% endblock %}