{% extends "base.html" %}
{% block content %}
<section class="recipe-view">
    {% for recipes in recipes %}
    <h3 class="text-center">Recipes</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0 offset-md-1">
                <div class="recipe-card card">
                    <div class="recipe-card-body card-body">
                        <div class="recipe-card-header card-header">
                            <h5>{{recipes.category_name}}</h5>
                            <img class="recipe-card-img card-img" src="../static/images/mackeral-hash.jpg"
                                class="card-img-top" alt="Mackeral Hash">
                            {{recipes.recipe_name}}</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{recipes.recipe_ingredients1}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients2}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients3}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients4}}</li>
                            <li class="list-group-item">{{recipes.recipe_ingredients5}}</li>
                        </ul>
                        <div class="recipe-card-footer card-footer">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{recipes.recipe_method1}}</li>
                                <li class="list-group-item">{{recipes.recipe_method2}}</li>
                                <li class="list-group-item">{{recipes.recipe_method3}}</li>
                                <li class="list-group-item">{{recipes.recipe_method4}}</li>
                                <li class="list-group-item">{{recipes.recipe_method5}}</li>
                            </ul>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}